* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

.container {
    display: block;
    padding: 5vh;
}

.jobContainer {
    display: inline-block;
    width: 25%;
    margin: 0 auto;
    font-size: .7rem;
    margin-left: 4vh;
    margin-right: 2vh;
    vertical-align: top;
}

.jobHeader {
    color: #139978;
}

.jobSubheader {
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.jobUl {
    list-style: none;
}

.jobLi {
    font-weight: 200;
    margin-bottom: .2rem;
}

#customerEmail a, #customerPhone a {
    text-decoration: none;
    color: #075743;
    font-weight: 400;
}

.header {
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 5vh;
}

.getByDate {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5vh;
}

.subheader {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 8vh;
    margin-bottom: 3vh;
}

.dateForm {
    font-size: .7rem;
}

.submitDate {
    border: none;
    background-image: linear-gradient(to bottom right, #2aa082, #20ac82, rgb(37, 189, 143));
    color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 1.3vh 2vh;
    text-transform: uppercase;
    margin-left: 1vh;
}

.submitDate:hover {
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    border: 1px solid #075743;
    transition: 500ms;
}

#date {
    margin-bottom: 2vh;
    margin-top: 1vh;
}

@media all and (max-width: 700px) {

    .jobContainer {
        
        width: 100%;
        margin-bottom: 5vh;
        
    }

    .header {
        font-size: 1.5rem;
    }

    .subheader {
        font-size: 1.2rem;
    }

}