/**** Normalize for Browsers ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

/**** Basic Setup ****/
body {
    font-family: 'Lato', 'Oswald', SansSerif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3vh;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}

.row {
    width: 100%;
    display: block;
}

.col-1-of-1 {
    width: 100%;
}

/**** Navigation ****/
.home-page {
    display: block;
    width: 100%;
}
.navi-box {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, #43cea2, #185a9d);

}

.navi-btn {
    position: fixed;
    top: 8vh;
    left: 93%;
    display: inline-block;
    transform: translate(-50%, -50%);
    font-size: 9rem;
    font-weight: 400;
    color: #888;
    z-index: 1000;
    background-position: 50% 50%;
    cursor: pointer;
    mix-blend-mode: color-dodge;
}

.navi-btn:hover {
    filter: brightness(50%);
}

.navi-exit {
    position: fixed;
    top: 8vh;
    left: 93%;
    display: none;
    transform: translate(-50%, -50%);
    font-size: 9rem;
    font-weight: 400;
    color: #888;
    z-index: 1000;
    background-position: 50% 50%;
    cursor: pointer;
    mix-blend-mode: color-dodge;
    rotate(90deg);
}

.navi-list {
    padding-top: 14vh;
}

.navi-item {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 7rem;
}

.navi-link:link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}

.navi-link:active {

}

.navi-link:visited {
    color: #fff;
}

.navi-link:hover {
    color: #f5af19;
}

/**** Header ****/
.header {
    height: 95vh;
    background-image: linear-gradient(to bottom right, rgba(0, 65, 106, .85), rgba(228, 229, 230, .55)), url("../Images/hero1.jpeg");
    background-position: top;
    background-size: cover;
    /*clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);*/
    position: relative;
}

.logo-box {
    position: absolute;
    left: 52vh;
    bottom: 67vh;

}

.logo {
    height: 30vh;
}

.heading-box {
    position: absolute;
    left: 49%;
    top: 35%;
    transform: translate(-50%, -50%);

}

.phone-box {
    position: absolute;
    left: 45%;
    top: 5%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.phone-word {
    color: #fff;
    font-size: 1rem;
    letter-spacing: .3rem;
    text-align: center;
}

.phone-link:link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .7rem;
}

.phone-char {
    letter-spacing: .4rem;
}

.bounce-in-top {
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;
}

.primary-heading {
    color: #fff;
}

.primary-heading-top {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .8rem;
    text-transform: uppercase;
}

.primary-heading-bottom {
    display: block;
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: .5rem;
    word-spacing: 1rem;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(1px);
}

.headerBlock {
    display: block;
}

.primary-btn-box {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

.btn {
    font-size: 1.5rem;
    min-width: 25vh;
    text-align: center;
    -webkit-animation: btn 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 400ms both;
    animation: btn 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 400ms both;
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1.5rem;
    margin-top: 5vh;
    font-weight: 300;
    letter-spacing: .2rem;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}


.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-orange {
    color: #fff;
    background-image: linear-gradient(to bottom right, darkorange, coral);
}

.subheading-box {
    position: absolute;
    left: 50%;
    bottom: 0%;
    color: #fff;
    transform: translate(-50%,-50%);
}

.subheading {
    font-size: 1.5rem;
    font-weight: 300;
    backdrop-filter: blur(1px);
    text-align: center;
}

.subheading-top {
    display: block;
}

.subheading-bottom {
    display: block;
}

.tracking-in-contract-bck {
    -webkit-animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/****** INFO PAGE *********/

.info-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.customer-steps {
    display: inline-block;
    width: 390px;
    min-height: 33rem;
    margin-top: 2vh;
    padding: 3vh;
    /*border: 1px rgba(0,150,255,.2) solid;*/

    justify-content: center;
}

.info-title-box {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5vh auto 1vh;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 6vh;
    letter-spacing: 1rem;
    word-spacing: 1rem;
    color: steelblue;
}

.customer-steps p {
    padding-top: 3vh;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.1;
}

.customer-steps h4 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    padding-top: 2vh;
}

.svg {
    width: 5rem;
    margin-left: 35%;
    padding-bottom: 2vh;
}

/******** COVID POPUP **********/
.covid-box {
    display: none;
    position: fixed;
    height: 70vh;
    width: 50%;
    left: 25%;
    top: 10%;
    color: #fff;
    z-index: 500;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-image: linear-gradient(to top right, #161616e5, #272625e3, #31302fe5);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    overflow: scroll;
}

.covid-btn {
    position: absolute;
    left: 50%;
    top: 82%;
    transform: translate(-50%, -50%);
    color: #d5dfdc;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    border-left: .1rem solid #ebebeb;
    border-right: .1rem solid #e0e0e0;
}

.covid-btn:hover {
    color: #f6fa18;
    border-left: .1rem solid #e1e444;
    border-right: .1rem solid #ecea77;
    transition: 1000ms;
}

.covid-btn-text {
    padding: 0 1vh 0;
}

.covid-box p {
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 4vh;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    word-spacing: .2rem;

}

.covid-box ul {
    padding-left: 7vh;
    padding-right: 5vh;
    padding-bottom: 2vh;
    list-style: none;
}

.covid-box li {
    padding-bottom: 1vh;
    font-size: 1.3rem;
    font-weight: 300;
}

.covid-title {
    padding: 3vh;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: .3rem;
}

.covid-exit-box {
    position: absolute;
    left: 95%;
    top: 8%;
    transform: translate(-50%, -50%) rotate(45deg);
    font-size: 4rem;
    font-weight: 700;
    cursor: pointer;
}

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 2000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 2000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.block {
    margin-bottom: .2rem;
}
/******** MEDIA QUERIES **********/
@media all and (max-width: 823px) {
    .header {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .primary-heading-top {
        font-size: 3rem;
    }

    .primary-heading-bottom {
        font-size: 1.8rem;
    }

    .covid-btn {
        top: 79%;
    }

    .covid-box {
        width: 70%;
        left: 15%;
    }

    .navi-item {
        font-size: 2.5rem;
        line-height: 5.4rem;
    }

    .subheading-box {
        bottom: 0;
    }

    .subheading {
        font-size: 1.2rem;
    }

}

@media all and (max-width: 640px) {
    .primary-heading-top {
        font-size: 2rem;
        line-height: 3rem;
    }

    .primary-heading-bottom {
        font-size: 1.4rem;
    }

    .covid-btn {
        top: 85%;
        font-size: 1rem;
    }

    .subheading {
        font-size: 1.1rem;
    }

    .navi-item {
        line-height: 5.3rem;
    }

    .package-text {
        padding-left: 5vh;
        padding-right: 5vh;
    }
}

@media all and (max-width: 414px) {
    .navi-btn, .navi-exit {
        left: 88%;
        font-size: 6rem;
    }

    .covid-title {
        font-size: 2rem;
    }

    .covid-box {
        top: 15%;
    }

    .sub-heading {

    }
}

@media all and (max-width: 320px) {
    .covid-btn {
        font-size: .8em;
        top: 75%;
    }

    .primary-btn-box {
        top: 60%;
    }

    .btn:link {
        font-size: .2rem;
    }
}

/**** MEDIA BY HEIGHT *******/
@media all and (max-height: 525px) {
    .primary-heading-top {
        font-size: 2.5rem;
    }

    .primary-btn-box {
        top: 63%;
    }

    .covid-btn {
        top: 77%;
        font-size: 1rem;
    }

    .subheading-box {
        bottom: -2%;
    }

    .btn:link, .btn:visited {
        font-size: 1rem;
    }
}

.user-packer-choice {
    font-size: 4rem;
    padding-top: 6vh;
    padding-bottom: 10vh;
    color: #FF416C;
}

#Car, #Truck, #SUV {
    border: none;
    background-image: linear-gradient(to top right, #4462da, #4a4cd3,rgb(59, 115, 219));
    padding: 2vh 2.5vh;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    margin-bottom: 5vh;
    color: rgb(235, 235, 235);
    font-size: 1.3rem;
}



.load-images {
    border: none;
    padding: 2vh;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .3rem;

}

/****** ANIMATIONS ********/

@-webkit-keyframes btn {
    0% {
        -webkit-transform: translateY(100rem);
        transform: translateY(100rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes btn {
    0% {
        -webkit-transform: translateY(100rem);
        transform: translateY(100rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(40rem);
        transform: translateZ(40rem);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(40rem);
        transform: translateZ(40rem);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-100px) translateX(-10rem);;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0) translateX(-10rem);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px) translateX(-10rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0) translateX(-10rem);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px) translateX(-10rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0) translateX(-10rem);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px) translateX(-10rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0) translateX(-10rem);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}
@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

.slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 3000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 3000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

/***** PACKAGES ********/
.package-container {
    position: relative;
}

.package-title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .8rem;
    color: steelblue;
    margin-top: 5vh;
}

.package-instruction {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2vh;
    font-weight: 300;
}

.package-choice {
    cursor: pointer;
    padding: 1rem 2rem;
    margin-bottom: 1.5vh;
    margin-right: 1vh;
    color: #fff;
    background-image: linear-gradient(to right, #FF416C, #FF4B2B);
    border: none;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    letter-spacing: .2rem;
}

.package-buttons {
    text-align: center;
    margin-left: 6vh;
    margin-right: 6vh;
}

.package-name, .package-price {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2vh;
}

.package-price {
    color: #FF416C;
}

.package-name {
    font-weight: 300;
}

.package-text {
    text-align: center;
    list-style: none;
    line-height: 3rem;
    letter-spacing: .2rem;
    word-spacing: .4rem;
    font-size: 1.5rem;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-bottom: 10vh;
}

#footer {
    background-image: linear-gradient(to bottom right, #171b53 , #06051b);
    width: 100%;
    box-sizing: unset;
    padding: 0;
    margin: 0;

}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1vh;
    color: #e6e6e6;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    vertical-align: center;
    line-height: 2.5rem;
    padding-bottom: 5rem;
}

.footer-container a {
    font-weight: 500;
}

.footer-details-ul {
    list-style: none;
}

.footer-details-li a { 
    text-decoration: none;
    color: 
}
.port-link, .footer-details-li a {
    display: block;
    color: rgb(214, 83, 83);
    text-decoration: none;
}

.port-link:hover, .footer-details-li a:hover {
    color: rgb(240, 174, 76);
}

.social-media img {
    width: 7vh;
    vertical-align: middle;
    padding-top: 2vh;
}

.social-media-link {
    display: inline-block;
    margin-top: 5vh;
    margin-right: 3vh;
}

#rights {
    margin-top: 1vh;
}

#rights, #rights-1, #rights-2 {
    
    font-size: 1.1rem;
}

.site-author {
    margin-top: 1vh;
}

.author {
    display: block;
    font-size: .7rem;
}

.company img {
    height: 150px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.gallery-container {
    display: block;
}

.gallery-header {
    text-align: center;
    font-size: 3rem;
    padding-top: 20vh;
    padding-bottom: 5vh;
    color: rgb(43, 43, 43);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
    word-spacing: .6rem;
}

.gallery-img-container {
    display: border-box;
    margin-bottom: 5vh;
    text-align: center;
}

/*.gallery-img-container img {
    width: 75vh;
    padding: 2vh;
    
}*/

.g-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.g-col {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.g-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .g-col {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .g-col {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}

@media all and (max-width: 1180px) {

    .footer-container {
        display: unset;
        margin-top: 0;
    }

    .site-author {
        margin-top: 3rem;
    }

    #rights {
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

}

@media all and (max-width: 720px) {
    

    .social-media img {
        width: 5vh;
    }

    .social-media-link {
        padding: 1vh;
    }

    .site-author {
        padding: 2vh;
        margin-top: 0;
    }

    #Car, #Truck, #SUV {
        margin-bottom: 1vh;
    }

    #SUV {
        margin-bottom: 2vh;
    }

    .user-packer-choice {
        line-height: 5rem;
        padding-bottom: 3vh;
        padding-top: 3vh;
    }
}

.form {
    width: 30vw;
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, #9952e9), #491291;
}
.input {
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    font-size: 16px;
    width: 100%;
    background: white;
}
.result-message {
    line-height: 22px;
    font-size: 16px;
}
.result-message a {
    color: rgb(89, 111, 214);
    font-weight: 600;
    text-decoration: none;
}
.hidden {
    display: none;
}
#card-error {
    color: rgb(105, 115, 134);
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
}
#card-element {
    border-radius: 4px 4px 0 0 ;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    width: 100%;
    background: white;
}
#payment-request-button {
    margin-bottom: 32px;
}
/* Buttons and links */
#stripe-submit {
    background: #5469d4;
    color: #ffffff;
    font-family: Arial, sans-serif;
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
}
.stripe-submit:hover {
    filter: contrast(115%);
}
.stripe-submit:disabled {
    opacity: 0.5;
    cursor: default;
}
/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
    border-radius: 50%;
}
.spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.spinner:before,
.spinner:after {
    position: absolute;
    content: "";
}
.spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
}
@-webkit-keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@media only screen and (max-width: 600px) {
    form {
      width: 80vw;
    }
}

.confirmed-ul {
    text-align: center;
    list-style: none;
    font-size: 1.5rem;
    color: #2c0a53;
    font-weight: 300;
}

.confirmed-subheader {
    text-align: center;
    font-size: 2.5rem;
    color: #2c0a53;
    font-weight: 300;
}

.confirmed-header {
    text-align: center;
    font-size: 3.5rem;
    color: #2c0a53;
    font-weight: 300;
}

.confirmed-text {
    padding-top: 4vh;
    padding-left: 15vh;
    padding-right: 15vh;
    font-size: 1.5rem;
    font-weight: 300;
}

.phone-packages {
    color: #FF416C;
    text-decoration: none;
    font-size: 1.4rem;
    padding-left: 5px;

}

.contact-header {
    text-align: center;
    font-size: 3rem;
    padding-top: 5vh;
    padding-bottom: 4vh;
    color: rgb(43, 43, 43);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
    word-spacing: .6rem;
}

.contact-container {
    width: 80vh;
    margin: 0 auto;
}

.contact-phone {
    text-align: center;
    font-size: 1.5rem;
}

.contact-ul {
    text-align: center;
    list-style: none;
    font-size: 1.2rem;
    margin-top: 5px;
}

.contact-spacer {
    margin-top: 5vh;
}

@media all and (max-width: 460px) {
    .contact-container {
        width: auto;
    }

    .confirmed-text {
        padding: 1vh;
    }
}